.track {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 600px;
  margin: 0 3%;
}

.keyword-card {
  width: 300px;
  color: #fff;  
  background: #181921;
}

.article-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.article-card {
  flex: 0 0 auto;
  width: 400px;
  height: 100%;
  color: #fff;
  background: #181921;
  margin: 0 8px;
  background: #fff;
}

.image {
  width: 100%;
  height: 220px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.article-title {
  color: #181921;
  font-size: 24px;
  text-align: left;
  padding: 0 4%;
}

.article-description, 
.article-source {
  color: #181921;
  text-align: left;
  padding: 0 4%;
}

.link-to-article {

}

