.search-form {
  margin: 212px 0 0 0;
  display: flex;
  justify-content: center;
}

.input-field {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: solid 1px #fff;
  background: none;
  outline: none;
  text-align: bottom;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
}

.input-field::placeholder {
  font-size: 25px;
  color: #fff;
  margin-left: 20px;
}

.submit-button,
.delete-button {
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  margin-left: 2px;
}

.arrow {
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.x {
  height: 25px;
  width: 25px;
  margin-top: 15px
}

.error-message {
  color: #195049;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 10px 0;
}