.search-form {
  margin: 300px 0;
}

.input-field {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: solid 1px #fff;
  background: none;
  outline: none;
  text-align: bottom;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
}

.input-field::placeholder {
  font-size: 25px;
  color: #fff;
  margin-left: 20px;
}

.submit-button {
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin-left: 2px;
}

.arrow {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  
}