.App {
  text-align: center;
  background: rgb(84,95,164);
  background: linear-gradient(214deg, rgba(84,95,164,1) 0%, rgba(114,173,207,1) 53%);
  height: 100%;
  display: grid;
  grid-template-rows: 100px 170px 1fr 1fr;
  margin: 0
}

.header {
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-title {
  font-size: 40px;
  margin: 0 3%;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

.border {
  height: 1px;
  background: rgb(103,117,176);
  background: linear-gradient(214deg, rgba(103,117,176,1) 0%, rgb(153, 195, 231) 100%);
  margin: 0 3%;
}


