.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0
}

.header {
  height: 80px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-title {
  font-size: 40px;
  margin: 0 3%;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

.border {
  height: 1px;
  width: 89%;
  background: rgb(103,117,176);
  background: linear-gradient(214deg, rgba(103,117,176,1) 0%, rgb(153, 195, 231) 100%);
}


